{% extends 'base.html' %}
{% load static %}
<!doctype html>
{% block body_block %}
<div class="jumobtron">
    {% if registered %}
    <h1>Thank You For Registering!</h1>
    {% else %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ user_form.as_p }} {% endcomment %}
        {{ profile_form.as_p }}

        <body onload="initialize()">
            <div id="map-canvas"></div>
            <div class="lngLat"><span class="one">Lat</span><span class="two">,Lng</span></div>
        </body>
        <textarea id="info"></textarea>
        <input type="text">
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4NCAi9sAjWxAJ89h52Ot37vyoow9CZDI&libraries=drawing&callback=initMap"
            async defer></script>
        <input type="submit" value="Register">
    </form>
    {% endif %}
</div>
{% endblock body_block %}