{% extends 'base.html' %}
{% load static %}
<!doctype html>
{% block body_block %}
<div class="jumbotron">
    {% if registered %}
    <h1>Thank You For Registering!</h1>
    {% else %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {{ user_form.as_p }} {% endcomment %}
        {{ profile_form.as_p }}
        <div id="tool">
            <div id="map_canvas" style=" border: 2px solid #3872ac;"></div>
            <textarea name="" id="info" cols="30" rows="10"></textarea>
            <div id="info"></div>
        </div>
        <input type="submit" value="Register">
    </form>
    {% endif %}
</div>
{% endblock body_block %}