{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="text-center">
        <h1>Ini Halaman Index</h1>
        <h1>Welcome to a list of all the school!</h1>
    </div>
    <ol>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            {% for data in data %}
            <tbody>
                <tr>
                    <td>{{data.name}}</td>
                    <td>{{data.kelas}}</td>
                    <td> <img src="{{data.profile_pic.url}}" alt="img"></td>
                    <td><button><a href="{{data.id}}">Edit</a></button></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </ol>
</div>

{% endblock body_block %}p