<!doctype html>
{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="text-center">
        <h1>Ini Halaman Index</h1>
        <h1>Welcome to a list of all the school!</h1>
        <a class="btn btn-primary" href="{% url 'create' %}">Buat</a>
    </div>
    <ol>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nama</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            {% for data in data %}
            <tbody>
                <tr class="text-center">
                    <td>{{data.name}}</td>
                    <td>{{data.kelas}}</td>
                    {% if data.profile_pic %}
                    <td> <img src="{{data.profile_pic.url}}" alt="img"></td>
                    {% else %}
                    <td>Tidak ada Gambar</td>
                    {% endif %}
                    <td><button><a href="{% url 'update' pk=data.pk %}">Edit</a></button>
                        <button><a href="{{data.id}}">Detail</a></button>
                        <button><a href="{% url 'delete' pk=data.pk %}">Delete</a></button></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <div class="container text-center">
            <div class="pagination text-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </ol>
</div>

{% endblock body_block %}p